{% extends "expenselogger/main.html" %}

{% block content %}
<h2>Submit New Expense</h2>
{% load jsonify %}

<form id="expenseform" action="/create/" method="post" class="form-horizontal" >
    {% csrf_token %}
    {% for field in form %}
        <div class="form_group row">
            {{ field.errors }}
            <div class="col-sm-2">
    	        {{ field.label_tag }} 
    	    </div>
    	    <div class="col-sm-10">
    	        {{ field }}
       		</div>
        </div>
    {% endfor %}
    <button type="submit" value="Submit" class="btn btn-default">Submit</button>

</form>



<h2>Recently Submitted Expenses</h2>

<table class="table table-hover">
    <thead>
        <!-- header row -->
        <th>Date</th>
        <th>Expense Name</th>
        <th>Type</th>
        <th>Amount</th>
    </thead>
    {% for expense in expense_list %}
        <tr id="expense_{{ forloop.counter }}" class="expense">
            <td class="expense_date">{{ expense.date }}</td>
            <td class="expense_name">{{ expense.name }}</td>
            <td class="expense_type">{{ expense.get_expense_type_display }}</td>
            <td class="expense_amount">{{ expense.amount|floatformat:"2" }}</td>
        </tr>
    {% endfor %}
</table>

<script>
    var all_expenses = {{ expense_list|jsonify}};
</script>

{% endblock %}