{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>Expense Logger</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.10.2.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script> 
</head>
<body>
<h1><a href="{% url 'index' %}">Expense Logger</a></h1>
{% block content %}
{% endblock %}
</body>
</html>